@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#go-back {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin: 30px 0px 0px 30px;
}

.host-welcome {
  display: flex;
  flex-flow: column nowrap;
  background-color: #964eb5;
  height: 100%;
  overflow-y: auto;
}

.host-welcome-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.host-welcome-header .host-games-title {
  font-size: 40px;
  color: white;
  font-family: "Fredoka One";
}

.host-welcome-header .host-games-sub-title {
  font-size: 20px;
  color: white;
  font-family: "Fredoka One";
}

.host-welcome-header .new-game-btn button {
  background-color: #ad3edd;
  color: white;
  font-size: 20px;
  font-family: "Fredoka One";
  width: 250px;
  height: 40px;
  border-radius: 12px 5px;
  border: none;
  outline: none;
  margin-top: 50px;
  cursor: pointer;
}

.games {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 18px 10px;
  min-width: 200px;
  border-radius: 13px;
  margin: 5px;
  background-color: #ad3edd;
  color: white;
  cursor: pointer;
}

.game-card hr {
  width: 90%;
  border-top: 0.1px white;
  margin-top: 3px;
}

.no-games {
  display: none;
}
