@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.games {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 18px 10px;
  min-width: 200px;
  border-radius: 13px;
  margin: 5px;
  align-items: flex-start;
  background-color: #457ab2;
  color: white;
  cursor: pointer;
}

.no-games {
  display: none;
}
